#menu {text-align: center; background-color:darkred}
.menu {color:white; text-decoration:none}
.titulo {background-color:black; color:white; text-align:center;}
body {background: lightgray}
#externo {color:darkgreen}
.principal {text-align:center; background-color:white;}
.secundario {background:white;}
footer {text-align:center; font-size:12px;}
.foot {color: black;}